input{
    width: 900px;
    margin:0px auto;
    text-align: center;
}
table{
    margin: 0px auto;
    background-image: url('./../../assets/bg3.jpg');
    color: white;
    width: 900px;
    text-align: center;
}
tr{
    border-radius: 15px;
    border: 2px solid black;
}
table thead tr th{
    text-align: center;
    border-bottom-color: black;
    background-color: rgb(20, 20, 48);
}
table tr td img{
    height: 90px;
    width: 150px;
    border:2px solid white;
}
table tbody tr td
{
    vertical-align: middle;
    font-size: 17px;
}
button{
    margin-left: 17%;
}
button:hover{
    border-radius: 10px;
}